@{
    ViewBag.Title = "Desktop Sharing and Controlling";
}

<div class="container">

    <div class="row" style="margin-top: 35px;">

        <div class="col-md-3">
            <div class="list-group">
                <span class="list-group-item list-group-title">
                    Menu
                </span>
                <a href="/Educator" class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a>
                <a href="/Educator/WriteAnArticle" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Write an Article</a>
                <a href="/Educator/UploadContent" class="list-group-item"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Content</a>
                <a href="/Educator/Items" class="list-group-item"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;My Items</a>
                <a href="/Educator/Discussions" class="list-group-item"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Discussions</a>
                <a href="/Educator/TextChat" class="list-group-item"><span class="glyphicon glyphicon-font"></span>&nbsp;&nbsp;Text Chat</a>
                <a href="/Educator/VideoConference" class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;Video Conference</a>
                <a href="/Educator/DesktopSharing" class="list-group-item active"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Desktop Sharing</a>
                <a href="/Educator/ProfileSetting" class="list-group-item"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                <a href="/Educator/Revenue" class="list-group-item"><span class="glyphicon glyphicon-usd active"></span>&nbsp;&nbsp;Revenue</a>
                <a href="/Educator/Inbox" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<span>
                        Message&nbsp; @if (ViewBag.UnreadMessage != 0)
                        {<span id="unreadMessageCount" class="badge">@ViewBag.UnreadMessage</span>}
                    </span>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-screen">
                <div class="panel-heading">
                    <h3 class="panel-title"> Desktop Sharing and Controlling</h3>
                </div>
                <div class="panel-body">
                    <h4>You need to use our desktop application for this purpose</h4>
                    <br>
                    <a href="~/Content/media/Desktop Sharing.zip">Click Here</a> to Download.
                    <br />
                    <br />
                    You Also need to have .Net Framework Runtime Libraries to use this.
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title"> How to use this</h3>
                </div>
                <div class="panel-body">
                    <h4>Step # 1 :</h4>
                    <br>
                    <img src="~/Content/media/Step 1.png" width="100%" />
                    <br>
                    <h4>Step # 2 :</h4>
                    <br>
                    <img src="~/Content/media/Step 2.png" width="100%" />
                    <br>
                    <h4>Step # 3 :</h4>
                    <br>
                    <img src="~/Content/media/Step 3.png" width="100%" />
                    <br>
                    <h4>Step # 4 :</h4>
                    <br>
                    <img src="~/Content/media/Step 4.png" width="100%" />
                    <br>
                    <h4>Step # 5 :</h4>
                    <br>
                    <img src="~/Content/media/Step 5.png" width="100%" />
                    <br>
                    <h4>Step # 6 :</h4>
                    <br>
                    <img src="~/Content/media/Step 6.png" width="100%" />
                    <br>
                    <h4>Step # 7 :</h4>
                    <br>
                    <img src="~/Content/media/Step 7.png" width="100%" />
                    <br>
                    <h4>Step # 8 :</h4>
                    <br>
                    <img src="~/Content/media/Step 8.png" width="100%" />
                    <br>
                    <h4>Step # 9 :</h4>
                    <br>
                    <img src="~/Content/media/Step 9.png" width="100%" />
                    <style>
                        h4 {
                            background-color: lavender;
                        }
                    </style>
                </div>
            </div>

        </div> <!-- .col-md-10 -->

    </div>


</div><!-- /.container -->