@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel
    ================================================== -->
<style>
    div.container.body-content {
        width: 100%;
        max-width: none;
        padding: 0;
    }
</style>
<div class="container" style="
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height:auto;
">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/media/slider-1.jpg">
                <div class="container">
                    <div class="carousel-caption" style="color: #000">
                        <h1>Start Selling Your Knowledge Right From Your Laptop</h1>
                        <p>OKSSAS provides you a comprehensive set of tools to sell / share your knowledge with the rest of the world. You can upload videos, write articles, have video chat and text chat to interact with the learners.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/media/slider-2.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Work From The Peace Of Home</h1>
                        <p>Now, you don't have to go to office to earn a living. OKSSAS provides you a platform to work from home and earn more than your office.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/media/slider-3.jpg">
                <div class="container">
                    <div class="carousel-caption" style="color: #000">
                        <h1>Get Involved With Like Minded People</h1>
                        <p>OKSSAS provides a platform to get involved with like minded people and share knowledge with them. At OKSSAS educators are ranked on the basis of reviews and purchasings.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="
    margin-top: 50px;
">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/knowledge.png">
                <h2>Show Your Knowledge</h2>
                <p>OKSSAS provides you a platform to sell you knowledge. You can create videos, write articles and have interaction with the learners interested in your knowledge.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/badge.png">
                <h2>Earn Badges</h2>
                <p>As you'll upload content and gain popularity among the community of OKSSAS, you'll be awarded with different badges. These badges are visible to public and demonstrates your skills and experience.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/money.png">
                <h2>Make Money</h2>
                <p>You can not only share your knowledge with the rest of the world in an organized manner but you can also monetize the content to get a passive or full income from your shared knowledge.</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/learn.png">
                <h2>Learn Online</h2>
                <p>OKSSAS provides a very comprehensive set of tools which you can use to get in contact with the skilled users of the community. You can read their articles, watch videos or have a video chat with them.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/collaborate.png">
                <h2>Collaborate</h2>
                <p>OKSSAS enables you to have text chat, video chat, video conference and desktop sharing to fully engage with the community of OKSSAS.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" style="text-align:center;">
                <img class="img-circle" src="~/Content/media/expert.png">
                <h2>Find Experts</h2>
                <p>OKSSAS acts as a platform for expert and skilled users. You can not only find the content generated by the users but you can also find skilled users of a certain niche through our ranking system.</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <!-- START THE FEATURETTES -->

       
        <div style="
    margin-top: 30px;
    background-color: #101010;
    border-radius: 8px;
">
            <div style="
    padding: 40px;
    color: #eee;
    font-size: 20px;
    text-align: center;
            ">GET STARTED TODAY.<a href="/Account/Register">CLICK HERE</a> TO REGISTER!</div>
        </div>
        

    </div>
</div>

<!-- /.container -->
<style>
    footer {
        max-width: 1170px;
        width: AUTO;
        margin: 0 auto;
        padding: 15px;
    }
</style>

