@{
    ViewBag.Title = "Plans and Pricing";
}

<div class="container">
    <!-- freshdesignweb top bar -->

    <header>
        <h1>Price Hosting Plan</h1>
    </header>
    <!-- start header here-->

    <div id="fdw-pricing-table">
        <div class="plan plan1">
            <div class="header">Basic</div>
            <div class="price">$6.80</div>
            <div class="monthly">30 days Free Trail</div>
            <ul class="MyStyle">
                <li>3 active sitemaps</li>
                <li>3 account users</li>
                <li>Unlimited archives</li>
                <li>Email support</li>
                <li>No sitemap branding</li>
                <li>No site crawler</li>
            </ul>
            <a class="signup">Get It Now!!</a>
        </div>
        <div class="plan plan2 popular-plan">
            <div class="header">Premium</div>
            <div class="price">$14.80</div>
            <div class="monthly">30 days Free Trail</div>
            <ul class="MyStyle">
                <li>10 active sitemaps</li>
                <li>10 account users</li>
                <li>Unlimited archives</li>
                <li>Email support</li>
                <li>Account branding included</li>
                <li>No site crawler</li>
            </ul>
            <a class="signup">Get It Now!!</a>
        </div>
        <div class="plan plan3">
            <div class="header">Unlimited</div>
            <div class="price">$69.80</div>
            <div class="monthly">per month</div>
            <ul class="MyStyle">
                <li>Unlimited active sitemaps</li>
                <li>Unlimited archives</li>
                <li>Unlimited users</li>
                <li>Email support</li>
                <li>Account branding included</li>
                <li>Site crawler included</li>
            </ul>
            <a class="signup">Get It Now!!</a>
        </div>
    </div>
</div>