@{
    ViewBag.Title = "Team";
}
<div class="container">
    <div class="row">
        <h2 class="col-12" style="margin-bottom: 35px;">
            Team Members
        </h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 250px;" src="~/Content/media/abdulwahab.jpg">
                <div class="caption">
                    <h3>Abdul Wahab Butt</h3>
                    <p align="justify" >Abdul Wahab is the project manager of this project. He's a skilled .NET developer with a keen interest in product requirements.</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 250px;" src="~/Content/media/jamshad.jpg">
                <div class="caption">
                    <h3>Jamshed Ahmad</h3>
                    <p align="justify">Jamshed Ahmad is the lead developer of this project. His skills include developing highly optimized web apps.</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 250px;" src="~/Content/media/waleed.jpg">
                <div class="caption">
                    <h3>Waleed Baig</h3>
                    <p align="justify">Waleed Baig is a seasoned .NET developer specializing in making real-time web application using AJAX techniques.</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img alt="300x200" style="width: 300px; height: 250px;" src="~/Content/media/omartariq.jpg">
                <div class="caption">
                    <h3>Omar Tariq</h3>
                    <p align="justify">Omar Tariq is the product manager of this web app. His skills include keeping track of the UX while the product is being developed.</p>

                </div>
            </div>
        </div>
    </div>
</div>


